@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414]  text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-teal-600;
  }
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-800 text-teal-500
            hover:bg-teal-600
            hover:scale-110
            hover:text-white
            rounded-3xl hover:rounded-xl
            transition-all duration-300 ease-linear
            cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .border-gradient {
    @apply rounded-md bg-gradient-to-r from-emerald-600 via-blue-600 to-purple-600 pt-1 px-1;
  }
  .border-gradient-inverse {
    @apply rounded-md bg-gradient-to-r from-purple-600 via-blue-600 to-emerald-600 pt-1 px-1;
  }

  .border-gradient-variant {
    @apply rounded-md bg-gradient-to-r from-sky-500 via-cyan-300 to-teal-500 pt-1 px-1;
  }

  .border-gradient-variant2 {
    @apply rounded-md bg-gradient-to-r from-sky-500 via-cyan-300 to-sky-500 pt-1 px-1;
  }
  
  .line {
    @apply border-t border-teal-500 w-5/6 md:w-full
  }

  .chevron {
    @apply h-10 w-10 cursor-pointer text-white 
  }

  .message-received {
    @apply bg-teal-700 shadow-lg  hover:bg-teal-800 rounded-lg text-center text-white p-3 flex max-w-sm md:max-w-md overflow-clip break-all;
  }

  .message-sent {
    @apply bg-gray-700 shadow-lg hover:bg-gray-900 rounded-lg text-white p-3 justify-end flex max-w-sm md:max-w-md overflow-clip break-all;
  }
}