@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
            h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
            bg-gray-800 text-teal-500
            hover:bg-teal-600
            hover:scale-110
            hover:text-white
            rounded-3xl hover:rounded-xl
            transition-all duration-300 ease-linear
            cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .message-received {
    @apply bg-teal-700 shadow-lg  hover:bg-teal-800 rounded-lg text-center text-white p-3 flex max-w-sm md:max-w-md overflow-clip break-all;
  }

  .message-sent {
    @apply bg-gray-700 shadow-lg hover:bg-gray-900 rounded-lg text-white p-3 justify-end flex max-w-sm md:max-w-md overflow-clip break-all;
  }
}